include CHANGELOG.md
include IMPLEMENTATION_NOTES.md
include MIGRATION.md
recursive-include .github *.yml
recursive-include docs *.md
recursive-include examples *.py
recursive-include experiments *.py
recursive-include results *.json *.md
recursive-include tests *.py
